.btn-add{
    color: white;
    border:none;
    background: hsla(43, 100%, 71%, 1);

    background: linear-gradient(135deg, hsla(43, 100%, 71%, 1) 0%, hsla(14, 100%, 76%, 1) 100%);

    background: -moz-linear-gradient(135deg, hsla(43, 100%, 71%, 1) 0%, hsla(14, 100%, 76%, 1) 100%);

    background: -webkit-linear-gradient(135deg, hsla(43, 100%, 71%, 1) 0%, hsla(14, 100%, 76%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFD66B", endColorstr="#FFA386", GradientType=1 );
}